<div
    class="bg-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Frontis_UNAP_Iquique.JPG/1280px-Frontis_UNAP_Iquique.JPG');height: 85rem;">
    <h1 style="text-align:center">Malla Curricularricular<span class="badge bg-secondary"></span></h1>
    <div class="card mx-auto" style="width: 40rem;">
    <img src="https://www.admisionunap.cl/assets/images/IngenieriaCivilenComputacioneInformatica.png" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Malla Curricular año 2013</h5>
    <p class="card-text">Título Profesional: Ingeniero Civil en Computación e Informática
                        Grado Académico: Licenciado en Ciencias de la Ingeniería
    </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Perfil Profesional:
            Como profesional serás capaz de aplicar los conceptos fundamentales de la computación, los que te permitirán participar en proyectos de investigación, además de diseñar, construir e integrar soluciones tecnológicas combinando elementos de informática, telecomunicaciones y automatización. También podrás aplicar herramientas de gestión que te permitirán formular, evaluar, desarrollar, participar y liderar proyectos de innovación tecnológica con equipos multidisciplinarios, desempeñándote de forma ética considerando los estándares y normativa propia de la disciplina.</li>
        <li class="list-group-item">¿Dónde trabajaré?:
            Podrás desempeñarte en organizaciones públicas y privadas de los sectores minero, industrial, comercial, logístico, transporte, pesca, financiero, social, cultural y educacional, que requieran de apoyo tecnológico de alta complejidad para mejorar y/o fortalecer su gestión interna y externa, asumiendo roles como: gerente de proyectos tecnológicos, investigador, consultor, generador de innovación de alta tecnología, desarrollador y administrador de servicios informáticos.</li>
        <li class="list-group-item">Ceferino Castro,
            Director(a) de Carrera
            Correo: ccastro@unap.cl
            IQUIQUE
        </li>
    </ul>
    </div>
</div>