<body>
    <div id="header">
        <ul class="nav">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Carrera</a></li>
                <ul>
                    <li><a href="#">Malla Curricular</a></li>
                    <li><a href="#">Salas Para Nuestro Uso</a></li>
                </ul>
            <li><a href="#">Profesores</a></li>
                <ul>
                    <li><a href="#">Quienes Son</a></li>
                    <li><a href="#">Sus Publicaciones</a></li>
                </ul>
            <li><a href="#">Repositiorios</a></li>
            <li><a href="#">Discord</a></li>
            <li><a href="#">Login</a></li>
                <ul>
                    <li><a href="#">Login de Estudiante</a></li>
                    <li><a href="#">Login de Futuro Estudiante</a></li>
                    <li><a href="#">Login de Invitado</a></li>
                </ul>
        </ul>
    </div>
</body>
