<body>
  <div id="header">
    <ul class="nav">
      <% nav_links = [        ["Inicio", "bienvenida"],
        ["Carrera", "#", [          ["Malla Curricular", "#"],
          ["Salas Para Nuestro Uso", "#"]
        ]],
        ["Profesores", "#", [          ["Quienes Son", "#"],
          ["Sus Publicaciones", "#"]
        ]],
        ["Repositiorios", "#"],
        ["Discord", "#"],
        ["Login", "#", [          ["Login de Estudiante", "#"],
          ["Login de Futuro Estudiante", "#"],
          ["Login de Invitado", "#"]
        ]],
        ["Singup", "#", [          ["Singup de Estudiante", "students/new"],
          ["Singup de Futuro Estudiante", "futurestudents/new"],
          ["Singup de Invitado", "guests/new"]
        ]]
      ] %>
      <% nav_links.each do |link| %>
        <li>
          <a href="<%= link[1] %>"><%= link[0] %></a>
          <% if link[2] %>
            <ul>
              <% link[2].each do |sub_link| %>
                <li><a href="<%= sub_link[1] %>"><%= sub_link[0] %></a></li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</body>
