<div
    class="bg-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Frontis_UNAP_Iquique.JPG/1280px-Frontis_UNAP_Iquique.JPG');height: 255rem;">
    <h1 style="text-align:center">Salas para nuestro usos <span class="badge bg-secondary"></span></h1>
    <div class="card mx-auto" style="width: 50rem;">
    <img src="http://www.inf.unap.cl/~web-icci/wordpress/wp-content/uploads/2016/09/lp.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Laboratorio de Programación</h5>
    <p class="card-text">El Laboratorio de Programación es dirigido administrativamente por el Director de Carrera. Para este laboratorio se contrata un ayudante técnico, cuya función es la mantención periódica del equipamiento y del software instalado.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">La finalidad de este laboratorio es la realización de las principales actividades prácticas de formación profesional de los alumnos de la carrera, en asignaturas tales como: Introducción a la Programación, Programación Avanzada, Fundamentos de Lenguajes de programación, Compiladores.</li>
        <li class="list-group-item">La capacidad de este laboratorio es de 24 alumnos, quienes utilizan computadores personales y servidores, conectados bajo una red local.</li>
    </ul>
    </div>
    
    <div class="card mx-auto" style="width: 50rem;">
    <img src="http://www.inf.unap.cl/~web-icci/wordpress/wp-content/uploads/2016/09/tbd.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Taller de Base de Datos</h5>
    <p class="card-text">El Taller de Base de Datos está constituido, administrativamente, por un académico encargado del taller y un ayudante técnico cuya función es la mantención periódica del equipamiento y del software instalado.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">La finalidad de este taller es la realización de actividades prácticas de formación profesional de los alumnos de la carrera, en asignaturas tales como: Base de Datos, Inteligencia de Negocios (Gestión de Almacenes de Datos y Minería de Datos), Sistemas de Información I, y electivos de especialidad.</li>
        <li class="list-group-item">La capacidad de este laboratorio es de 12 alumnos, quienes utilizan computadores personales y servidores, conectados bajo una red local.</li>
    </ul>
    </div>

    <div class="card mx-auto" style="width: 50rem;">
    <img src="https://www.inf.unap.cl/~web-icci/wordpress/wp-content/uploads/2016/09/lso.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Laboratorio de Sistemas Operativos</h5>
    <p class="card-text">El Laboratorio de Sistemas Operativos está constituido, administrativamente, por un académico encargado del laboratorio y un ayudante técnico cuya función es la mantención periódica del equipamiento y del software instalado.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">La finalidad de este laboratorio es la realización de actividades prácticas de formación profesional de los alumnos de la carrera, en asignaturas tales como: Sistemas Operativos I y II y sus correspondientes ayudantías, Construcción de Software basado en Java y UML, Taller de Sistemas y Tecnologías Web y Aplicaciones.</li>
        <li class="list-group-item">También se realizan actividades de investigación con estudiantes. La capacidad de este laboratorio es de 12 alumnos, quienes utilizan computadores personales y servidores, conectados bajo una red local.
        </li>
    </ul>
    </div>

    <div class="card mx-auto" style="width: 50rem;">
    <img src="http://www.inf.unap.cl/~web-icci/wordpress/wp-content/uploads/2016/09/lsd.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Laboratorio de Sistemas Distribuidos</h5>
    <p class="card-text">El Laboratorio de Sistemas Distribuidos está constituido, administrativamente, por un académico encargado del laboratorio y un ayudante técnico cuya función es la mantención periódica del equipamiento y del software instalado.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">La finalidad de este laboratorio es la realización de actividades prácticas de formación profesional de los alumnos de la carrera, en asignaturas tales como: Estructura de Datos y Análisis de Algoritmos el primer semestre, Sistemas Distribuidos e Interface Humano Computador el segundo semestre.</li>
        <li class="list-group-item">La capacidad de este laboratorio es de 12 alumnos, quienes utilizan computadores personales y servidores, conectados bajo una red local.
        </li>
    </ul>
    </div>

    <div class="card mx-auto" style="width: 50rem;">
    <img src="http://www.inf.unap.cl/~web-icci/wordpress/wp-content/uploads/2016/09/lsd.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Taller de Redes y Telecomunicaciones</h5>
    <p class="card-text">El Taller de Redes y Telecomunicaciones está constituido, administrativamente, por un académico encargado del taller y un ayudante técnico cuya función es la mantención periódica del equipamiento y del software instalado.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">La finalidad de este taller es la realización de actividades prácticas de formación profesional de los alumnos de la carrera, en asignaturas tales como: Redes de computadores, Redes Inalámbricas. </li>
        <li class="list-group-item">La capacidad de este laboratorio es de 8 alumnos, quienes utilizan computadores personales y servidores y dispositivos de redes, conectados bajo una red local.
        </li>
    </ul>
    </div>

</div>